
// -- Layout ----------------------------------------------------
    header{
        background-color: $content-background-colour;
        border-bottom: 1px solid $border-colour;
        inner{
            display: block;
            max-width: 1200px;
            position: relative;
            margin: 0 auto;
            padding: 20px;
        }
    }
    content,
    footer{
        display: block;
        position: relative;
        background-color: $content-background-colour;
        border-color: $border-colour;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        border-width: 0 1px;
        border-style: solid;
    }
    header{
        border-width: 0 1px 1px 1px;
    }
    footer{
        border-width: 1px;
        .col_2{
            div:last-child{
                text-align: right;
            }
        }
    }

// --------------------------------------------------------------

// -- Flex ------------------------------------------------------
    .col_2{
        display: flex;
        div{
            flex-basis: 50%;
            &:first-child{
                margin-right: 10px;
            }
            &:last-child{
                margin-left: 10px;
            }
        }
    }
// --------------------------------------------------------------
