
@import 'variables.scss';

// -- General ---------------------------------------------------
    body{
        font-family: $body-font;
        font-weight: 300;
        font-size: 16px;
        background-color: $page-background-colour;
        color: $font-colour;
    }
    strong{
        font-weight: 600;
    }
    p{
        margin: 0 0 20px 0;
    }
    *{
        box-sizing: border-box;
    }
// --------------------------------------------------------------

// -- Layout ----------------------------------------------------
    header,
    content,
    footer{
        display: block;
        position: relative;
        background-color: $content-background-colour;
        border-color: $border-colour;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        border-width: 0 1px;
        border-style: solid;
    }
    header{
        border-width: 0 1px 1px 1px;
    }
    footer{
        border-width: 1px 1px 0 1px;
    }

// --------------------------------------------------------------

// -- Menus -----------------------------------------------------
    menu,
    rightMenu{
        li{
            float: left;
            margin: 0 10px 0 0;
            a{
                text-decoration: none;
                border: 1px solid $border-colour;
                padding: 5px 10px;
                color: $font-colour;
                &:hover{
                    color: $white;
                    background-color: $border-colour;
                }
            }
        }
    }
    menu{
        min-height: 20px;
        margin: 30px 0 0 0;
    }
    rightMenu{
        position: absolute;
        top: 20px;
        right: 10px;
    }
// --------------------------------------------------------------

// -- Headers ---------------------------------------------------
    h1,h2,h3,h4,h5,h5{
        font-family: $header-font;
        font-weight: 600;
        margin-bottom: 20px;
    }
    h1{
        font-size: 2em;
    }
// --------------------------------------------------------------
