
// -- Variables -------------------------------------------------
    $page-background-colour: #f5fff5;
    $content-background-colour: #ffffff;
    $border-colour: #c5c5c5;
// --------------------------------------------------------------
