
// -- Variables -------------------------------------------------
    $page-background-colour: #f5fff5;
    $content-background-colour: #ffffff;
    $border-colour: #c5c5c5;
    $font-colour: #0f3510;

    $white: #ffffff;

    $header-font: 'Montserrat', sans-serif;
    $body-font: 'Open Sans', sans-serif;
// --------------------------------------------------------------
