// -- Accordion -------------------------------------------------
    .accordion{
        .accordion_title{
            font-size: 1.2em;
            font-weight: 700;
            padding: 10px 0;
            margin: 0;
            border-bottom: 1px solid $border-colour;
            cursor: pointer;
            &:hover{
                background-color: $light-border-colour;
            }
            span{
                display: inline-block;
                height: 15px;
                width: 15px;
                margin: 0 10px;
                background-image: url('#{$site-root}/assets/img/left-arrow.svg');
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: 0 0%;
                transform: rotate(180deg);
                transition: all 0.2s ease-in-out;
            }
        }
        .accordion_contents{
            display: none;
            margin: 20px 0;
            ul{
                list-style: circle;
                padding-left: 30px;
                line-height: 1.2em;
            }
            &.livestockLinks{
                span{
                    border: 1px solid $border-colour;
                    border-radius: $border-radius;
                    display: inline-block;
                    padding: 5px;
                    margin: 0 10px 10px 0;
                    min-width: 300px;
                    a{
                        text-decoration: none;
                        color: $font-colour;
                    }
                    .icon{
                        float: right;
                        margin: -2px 0 -2px 0;
                    }
                    &:hover{
                        color: $white;
                        background-color: $border-colour;
                    }
                    @media(max-width: 550px){
                        min-width: 100%;
                        .icon{
                            float: none;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        &.open{
            .accordion_title{
                span{
                    transform: rotate(270deg);
                }
            }
            .accordion_contents{
                display: block;
            }
        }
    }
    .livestockDiaryCard{
        .accordion_title{
            font-size: 0.9em;
            span{
                background-size: 10px;
            }
        }
    }
// --------------------------------------------------------------
