
.diaryCard,
.diaryCardSingle{
    div.diaryEntry{
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $light-border-colour;
        border-radius: $border-radius;
        position: relative;
        display: flex;
        cursor: pointer;
        &:hover{
            background-color: lighten($page-background-colour, 16%);
        }
        span{
            flex-basis: calc( 97% - 90px );
            line-height: 1.2em;
            &:first-child{
                flex-basis: 90px;
                font-weight: 700;
            }
        }
        .icon{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .date{
        width: 70px;
        border: 1px solid $page-background-colour;
        margin: 0 10px 10px 0;
        float: left;
        padding: 0;
        span{
            display: block;
            text-align: center;
            padding: 4px 2px;
            color: $page-background-colour;
            background-color: $white;
            font-weight: 700;
            &:nth-child(2){
                background-color: darken($page-background-colour, 10%);
                color: $white;
            }
        }
        + p{
            min-height: 70px;
        }
    }
}
.diaryCardSingle{
    .date{
        float: left;
        margin: 0 20px 20px 0;
    }
    a{
        text-decoration: none;
        color: $font-colour;
        &:hover{
            text-decoration: underline;
        }
    }
    p.diaryNotes{
        padding-left: 90px;
    }
    section{
        clear: left;
        margin-bottom: 20px;
        ul{
            list-style-type: disc;
            margin-left: 30px;
            line-height: 1.5em;
        }
        &.livestock_details{
            span{
                display: inline-block;
                position: relative;
                border: 1px solid $border-colour;
                border-radius: $border-radius;
                padding: 5px 40px 5px 10px;
                margin: 0 0 10px 10px;
                a{
                    text-decoration: none;
                    color: $font-colour;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                a.icon{
                    position: absolute;
                    cursor: pointer;
                    top: 3px;
                    right: 5px;
                }
            }
        }
    }
}
.livestockDiaryCard{
    .diaryCard{
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        padding: 20px;
        margin-bottom: 20px;
    }
}
