
// -- General ------------------------------------------------------------------
    .form_container{
        padding: 20px;
        margin: 10px 0 40px 0;
        box-shadow: 0 5px 14px -13px $black;
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        font-size: 1.2em;
        label{
            display: block;
            padding: 0 0 5px 0;
            font-weight: 600;
            font-size: 0.8em;
        }
        input,
        textarea,
        select{
            outline: none;
            font-family: $body-font;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            padding: 10px;
            width: 90%;
            font-size: 0.8em;
            &:focus{
                background-color: $form-focus;
            }
            &:disabled{
                background-color: $form-disabled;
            }
            @media(max-width: 800px){
                width: 100%;
                &[type=date]{
                    width: calc( 100% - 30px );
                }
            }
            + .clearDate{
                background-image: url('#{$site-root}/assets/img/unselect.svg');
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: 20px;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0px 0 -5px 2px;
            }
        }
        select{
            padding: 9px 10px;
            + .unselect{
                background-image: url('#{$site-root}/assets/img/unselect.svg');
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: 15px;
                font-size: 0.9em;
                padding-left: 20px;
                margin-top: 5px;
                display: block;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        textarea{
            max-width: 90%;
            min-width: 90%;
            min-height: 100px;
            max-height: 500px;
            @media(max-width: 800px){
                max-width: 100%;
                min-width: 100%;
            }
        }
        .form_control{
            input{
                cursor: pointer;
                &[type=reset],
                &[type=submit]{
                    width: 50%;
                    background-color: $white;
                    &:hover{
                        background-color: $form-focus;
                    }
                    @media(max-width: 450px){
                        width: 100%;
                    }
                }
                &:first-child{
                    margin-right: 10%;
                }
            }
        }
        p{
            &.required label::after{
                content: '*';
                color: $red;
                font-weight: 700;
                margin-left: 5px;
            }
            &.checkbox{
                height: 68px;
                padding-top: 35px;
                @media(max-width: 800px){
                    height: auto;
                    padding-top: 0;
                }
                label{
                    display: inline-block;
                    &::before{
                        content: '';
                        border: 2px solid $border-colour;
                        border-radius: $border-radius;
                        height: 20px;
                        width: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: sub;
                    }
                }
                input{
                    display: none;
                    width: auto;
                    &:checked{
                        + label{
                            &::before{
                                background-image: url('#{$site-root}/assets/img/check.svg');
                                background-size: 18px;
                                background-repeat: no-repeat;
                                background-position: 50%;
                            }
                        }
                    }
                }
            }
        }
        .required-warning{
            font-size: 0.8em;
            span{
                color: $red;
                font-weight: 700;
            }
        }
        .error_message{
            color: red;
            font-size: 0.9em;
            font-style: italic;
            margin: 4px 0 0 0;
            display: block;
        }
        .error{
            background-color: rgba(255,0,0,0.1);
            border-color: $red;
        }
        &.inline{
            p{
                display: inline-block;
                label,
                input{
                    display: inline-block;
                    width: 200px;
                    vertical-align: middle;
                }
                &.form_control{
                    input{
                        width: 150px;
                        margin-left: 20px;
                    }
                }
            }
        }
        .multiselect{
            display: flex;
            flex-direction: row;

            p{
                flex-basis: 47.4%;
                span{
                    font-weight: bold;
                    font-size: 0.8em;
                    margin: 0 0 10px 0;
                    display: block;
                    span{
                        display: inline;
                        vertical-align: top;
                        font-weight: bold;
                        color: $red;
                        font-size: 1em;
                    }
                    &.error_message{
                        font-weight: 400;
                        padding: 5px 0;
                        font-size: 0.9em;
                    }
                    &.addAll,
                    &.removeAll{
                        display: inline-block;
                        margin: 10px 0 0 0;
                        background-image: url('#{$site-root}/assets/img/right-chevron.svg');
                        background-repeat: no-repeat;
                        background-position: 100% 50%;
                        background-size: 20px;
                        padding: 0 25px 0 0;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &.removeAll{
                        background-image: url('#{$site-root}/assets/img/left-chevron.svg');
                        background-position: 0 50%;
                        padding: 0 0 0 25px;
                        float: right;
                        margin-right: 27px;
                    }
                }
                @media( max-width: 800px ){
                    &:first-child{
                        margin-right: 30px;
                    }
                }
            }
            @media( max-width: 600px ){
                flex-direction: column;
                p{
                    flex-basis: 100%;
                }
            }
        }
    }
    .form_hide{
        display: none;
    }
// -----------------------------------------------------------------------------

// -- Filter -------------------------------------------------------------------
    .filter{
        margin-bottom: 20px;
        select,
        input[type=button]{
            outline: none;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            background-color: $white;
            padding: 10px;
            margin: 0 20px 10px 0;
            font-size: 1em;
            cursor: pointer;
            &:focus{
                background-color: $form-focus;
            }
            @media(max-width: 800px){
                display: block;
                width: 100%;
            }
        }
        input[type=button]{
            @media(max-width: 800px){
                display: block;
                width: auto;
            }
            &:hover{
                background-color: $form-focus;
            }
        }
    }
// -----------------------------------------------------------------------------
