
// -- General ------------------------------------------------------------------
    .form_container{
        padding: 20px;
        margin: 10px 0 40px 0;
        box-shadow: 0 5px 14px -13px $black;
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        font-size: 1.2em;
        label{
            display: block;
            padding: 0 0 5px 0;
            font-weight: 600;
        }
        input,
        textarea{
            outline: none;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            padding: 10px;
            width: 90%;
            font-size: 1em;
            &:focus{
                background-color: $form-focus;
            }
        }
        textarea{
            max-width: 90%;
            min-width: 90%;
            min-height: 100px;
            max-height: 500px;
        }
        .form_control{
            input{
                cursor: pointer;
                &[type=reset],
                &[type=submit]{
                    width: 40%;
                    background-color: $white;
                    &:hover{
                        background-color: $form-focus;
                    }
                }
                &:first-child{
                    margin-right: 10%;
                }
            }
        }
        p.required label::after{
            content: '*';
            color: $red;
            font-weight: 700;
            margin-left: 5px;
        }
        .required-warning{
            font-size: 0.8em;
            span{
                color: $red;
                font-weight: 700;
            }
        }
        .error_message{
            color: red;
            font-size: 0.9em;
            font-style: italic;
            margin: 4px 0 0 0;
            display: block;
        }
        .error{
            background-color: rgba(255,0,0,0.1);
            border-color: $red;
        }
    }
    .form_hide{
        display: none;
    }
// -----------------------------------------------------------------------------
