
// -- General ---------------------------------------------------
    body{
        font-family: $body-font;
        font-weight: 300;
        font-size: 16px;
        background-color: $page-background-colour;
        color: $font-colour;
        overflow-y: scroll;
        &.no_scroll{
            overflow: hidden;
            padding-right: 15px;
            header{
                width: calc(100% + 30px);
                margin-left: -16px;
            }
        }
    }
    strong{
        font-weight: 600;
    }
    em{
        font-style: italic;
    }
    p{
        margin: 0 0 20px 0;
        label{
            font-weight: 700;
            width: 170px;
            padding-right: 10px;
            vertical-align: top;
            display: inline-block;
        }
        &.fullWidth{
            label{
                display: block;
                width: auto;
                margin: 0 0 10px 0;
                border-bottom: 1px solid $border-colour;
                padding: 0 0 10px 0;
            }
        }
        &.none{
            font-style: italic;
            margin: 0;
        }
        &.add_holder{
            text-align: right;
        }
        &.form_blank{
            height: 15px;
            @media(max-width: 800px){
                display: none;
            }
        }
        &.js-top{
            text-align: center;
            button{
                background-image: url('#{$site-root}/assets/img/left-arrow.svg');
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: 50%;
                transform: rotate(90deg);
                padding: 20px;
                &:hover{
                    background-image: url('#{$site-root}/assets/img/left-arrow-white.svg');
                    background-color: $border-colour;
                }
            }
        }
    }
    ul{
        &.tag_list{
            list-style: circle;
            line-height: 1.2em;
            padding-left: 40px;
        }
    }
    *{
        box-sizing: border-box;
    }
    hr{
        border: 0;
        height: 1px;
        background-color: $border-colour;
        &.spacer{
            margin: 40px 0;
        }
    }
// --------------------------------------------------------------

// -- Headers ---------------------------------------------------
    h1,h2,h3,h4,h5,h5{
        font-family: $header-font;
        font-weight: 600;
        margin-bottom: 20px;
        max-width: 90%;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.4em;
    }
    h3{
        font-size: 1.2em;
    }
// --------------------------------------------------------------

// -- Messages --------------------------------------------------
    .message{
        background-color: $font-colour;
        padding: 20px;
        border-radius: 0 0 6px 6px;
        position: absolute;
        z-index: 101;
        width: 500px;
        text-align: center;
        left: calc( 50% - 250px );
        top: -200px;
        box-shadow: 0 0 60px -15px $font-colour;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        line-height: 1.5em;
        @media(max-width: 800px){
            width: 250px;
            left: calc( 50% - 125px );
        }
    }
// --------------------------------------------------------------

// -- !TEMP! ----------------------------------------------------

// --------------------------------------------------------------
