
// -- General ---------------------------------------------------
    body{
        font-family: $body-font;
        font-weight: 300;
        font-size: 16px;
        background-color: $page-background-colour;
        color: $font-colour;
        overflow-y: scroll;
    }
    strong{
        font-weight: 600;
    }
    em{
        font-style: italic;
    }
    p{
        margin: 0 0 20px 0;
    }
    *{
        box-sizing: border-box;
    }
// --------------------------------------------------------------

// -- Headers ---------------------------------------------------
    h1,h2,h3,h4,h5,h5{
        font-family: $header-font;
        font-weight: 600;
        margin-bottom: 20px;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.4em;
    }
    h3{
        font-size: 1.2em;
    }
// --------------------------------------------------------------

// -- Messages --------------------------------------------------
    .message{
        background-color: $font-colour;
        padding: 20px;
        border-radius: 0 0 6px 6px;
        position: absolute;
        z-index: 101;
        width: 500px;
        text-align: center;
        left: calc( 50% - 150px );
        top: -200px;
        box-shadow: 0 0 60px -15px $font-colour;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        line-height: 1.5em;
    }
// --------------------------------------------------------------

// -- !TEMP! ----------------------------------------------------

// --------------------------------------------------------------
