
// -- General ---------------------------------------------------
    body{
        font-family: $body-font;
        font-weight: 300;
        font-size: 16px;
        background-color: $page-background-colour;
        color: $font-colour;
        overflow-y: scroll;
        &.no_scroll{
            overflow: hidden;
            padding-right: 15px;
            header{
                width: calc(100% + 30px);
                margin-left: -16px;
            }
        }
    }
    strong{
        font-weight: 600;
    }
    em{
        font-style: italic;
    }
    p{
        margin: 0 0 20px 0;
        label{
            font-weight: 700;
            width: 170px;
            padding-right: 10px;
            vertical-align: top;
            display: inline-block;
        }
        &.fullWidth{
            label{
                display: block;
                width: auto;
                margin: 0 0 10px 0;
                border-bottom: 1px solid $border-colour;
                padding: 0 0 10px 0;
            }
        }
        &.none{
            font-style: italic;
            margin: 0;
        }
        &.add_holder{
            text-align: right;
        }
        &.form_blank{
            height: 15px;
            @media(max-width: 800px){
                display: none;
            }
        }
        &.js-top{
            text-align: center;
            button{
                background-image: url('#{$site-root}/assets/img/left-arrow.svg');
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: 50%;
                transform: rotate(90deg);
                padding: 20px;
                &:hover{
                    background-image: url('#{$site-root}/assets/img/left-arrow-white.svg');
                    background-color: $border-colour;
                }
            }
        }
    }
    ul{
        &.tag_list{
            list-style: circle;
            line-height: 1.2em;
            padding-left: 40px;
        }
    }
    *{
        box-sizing: border-box;
    }
// --------------------------------------------------------------

// -- Details ---------------------------------------------------
    details{
        border-bottom: 1px solid $light-border-colour;
        margin-bottom: 20px;
        &:focus{
            outline: none;
        }
        summary{
            padding: 10px;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
        p{
            padding: 0 0 0 30px;
        }
        ul{
            list-style: circle;
            padding: 10px 0 20px 50px;
            line-height: 1.2em;
        }
        > span{
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            display: inline-block;
            padding: 5px;
            margin: 0 10px 10px 0;
            min-width: 300px;
            a{
                text-decoration: none;
                color: $font-colour;
            }
            .icon{
                float: right;
                margin: -2px 0 -2px 0;
            }
            &:hover{
                color: $white;
                background-color: $border-colour;
            }
            @media(max-width: 550px){
                min-width: 100%;
                .icon{
                    float: none;
                    margin-left: 10px;
                }
            }
        }
    }
// --------------------------------------------------------------

// -- Headers ---------------------------------------------------
    h1,h2,h3,h4,h5,h5{
        font-family: $header-font;
        font-weight: 600;
        margin-bottom: 20px;
        max-width: 90%;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.4em;
    }
    h3{
        font-size: 1.2em;
    }
// --------------------------------------------------------------

// -- Messages --------------------------------------------------
    .message{
        background-color: $font-colour;
        padding: 20px;
        border-radius: 0 0 6px 6px;
        position: absolute;
        z-index: 101;
        width: 500px;
        text-align: center;
        left: calc( 50% - 250px );
        top: -200px;
        box-shadow: 0 0 60px -15px $font-colour;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        line-height: 1.5em;
        @media(max-width: 800px){
            width: 250px;
            left: calc( 50% - 125px );
        }
    }
// --------------------------------------------------------------

// -- Links -----------------------------------------------------
    a{
        &.delete_link{
            color: $red;
            border: 1px solid $red;
            border-radius: $border-radius;
            background-color: $white;
            padding: 0 10px;
            cursor: pointer;
            &:hover{
                background-color: $red;
                color: $white;
            }
        }
        &.back{
            display: inline-block;
            background-image: url('#{$site-root}/assets/img/left-arrow.svg');
            background-repeat: no-repeat;
            background-size: 15px;
            background-position: 8px 50%;
            text-decoration: none;
            color: $font-colour;
            padding: 10px 10px 10px 30px;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            &:hover{
                color: $white;
                background-color: $border-colour;
                background-image: url('#{$site-root}/assets/img/left-arrow-white.svg');
            }
        }
        &.inline{
            background-image: url('#{$site-root}/assets/img/link.svg');
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 0 0;
            padding-left: 25px;
            text-decoration: none;
            color: $font-colour;
            display: inline-block;
            min-height: 25px;
            &:hover{
                text-decoration: underline;
            }
        }
        &.link{
            text-decoration: none;
            color: $font-colour;
            display: inline-block;
            min-height: 25px;
            &:hover{
                text-decoration: underline;
            }
        }
        &.tableLink{
            display: inline-block;
            text-decoration: none;
            color: $font-colour;
            padding: 2px 10px;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            &:hover{
                background-color: $white;
            }
        }
        &.right_aligned{
            display: inline-block;
            text-decoration: none;
            color: $font-colour;
            padding: 10px;
            border: 1px solid $border-colour;
            border-radius: $border-radius;
            float: right;
            cursor: pointer;
            &:hover{
                color: $white;
                background-color: $border-colour;
            }
        }
    }
// --------------------------------------------------------------

// -- Buttons ---------------------------------------------------
    button,
    .form_btn{
        padding: 10px 20px;
        background: $white;
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            color: $white;
            background-color: $border-colour;
        }
        &.btn_right{
            margin-right: 15px;
            float: right;
        }
    }
// --------------------------------------------------------------

// -- Modal -----------------------------------------------------
    .modalFade{
        display: none;
        background: rgba(0,0,0,0.2);
        z-index: 101;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .modal{
            display: none;
            position: fixed;
            width: 40%;
            min-height: 200px;
            background: white;
            box-shadow: 0 5px 10px -5px $black;
            border-radius: $border-radius;
            left: calc(50% - 20%);
            top: 200px;
            @media( max-width: 768px ){
                width: 80%;
                left: calc(50% - 40% );
            }
            &:before{
                content: '';
                background: url('#{$site-root}/assets/img/cancel.svg');
                background-repeat: no-repeat;
                background-size: 20px;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }
            h2{
                padding: 15px 0 15px 0;
                margin: 0 15px 15px 15px;
                border-bottom: 1px solid $border-colour
            }
            p,
            section{
                padding: 0 15px;
                font-size: 1.1em;
            }
            section{
                margin-bottom: 30px;
                ul{
                    list-style: disc;
                    margin-left: 30px;
                }
            }
            div{
                padding: 10px;
                label + span{
                    display: inline-block;
                    width: calc( 100% - 170px );
                }
                &.modalScroll{
                    max-height: 400px;
                    overflow: auto;
                    margin-bottom: 20px;
                }
            }
            form{
                padding-left: 15px;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }
// --------------------------------------------------------------

// -- Icons -----------------------------------------------------
    .icon{
        background-repeat: no-repeat;
        background-size: 20px;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        &_tick{
            background-image: url('#{$site-root}/assets/img/tick.svg');
        }
        &_cross{
            background-image: url('#{$site-root}/assets/img/cross.svg');
        }
        &_quickView{
            background-image: url('#{$site-root}/assets/img/quickView.svg');
        }
        &_print{
            cursor: pointer;
            background-image: url('#{$site-root}/assets/img/printer.svg');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: 10px 50%;
            padding: 10px 10px 10px 45px;
            &:hover{
                background-image: url('#{$site-root}/assets/img/printer_white.svg');
            }
        }
        &_logOut{
            cursor: pointer;
            background-image: url('#{$site-root}/assets/img/log_out.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 10px 50%;
            padding: 10px 10px 10px 45px;
            &:hover{
                background-image: url('#{$site-root}/assets/img/log_out_white.svg');
            }
        }
        &_menuTrigger{
            background-image: url('#{$site-root}/assets/img/menu.svg');
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
// --------------------------------------------------------------

// -- !TEMP! ----------------------------------------------------

// --------------------------------------------------------------
