
// -- Layout ----------------------------------------------------
    header{
        background-color: $content-background-colour;
        border-bottom: 1px solid $border-colour;
        inner{
            display: block;
            max-width: 90%;
            position: relative;
            margin: 0 auto;
            padding: 20px;
        }
    }
    content,
    footer{
        display: block;
        position: relative;
        background-color: $content-background-colour;
        border-color: $border-colour;
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;
        border-width: 0 1px;
        border-style: solid;
    }
    header{
        border-width: 0 1px 1px 1px;
    }
    footer{
        padding: 20px 0;
        border-width: 0;
        background-color: $page-background-colour;
        color: $white;
        p{
            margin: 0 0 10px 0;
        }
        .col_3{
            div:nth-child(2){
                text-align: center;
            }
            div:last-child{
                text-align: right;
            }
        }
        a{
            color: $white;
            &:hover{
                color: $font-colour;
            }
        }
    }

// --------------------------------------------------------------

// -- Flex ------------------------------------------------------
    .col_2{
        display: flex;
        flex-wrap: wrap;
        div{
            flex-basis: 49%;
        }
        + div{
            .form_control{
                width: 49%;
            }
        }
        @media(max-width:800px){
            div{
                flex-basis: 100%;
            }
        }
    }
    .col_3{
        display: flex;
        flex-wrap: wrap;
        div{
            flex-basis: 33%;
            max-width: 33%;
            @media(max-width:800px){
                flex-basis: 100%;
                max-width: 100%;
                input,
                select{
                    width: 100%;
                }
                textarea{
                    max-width: 100%;
                    min-width: 100%;
                }
            }
        }
    }
// --------------------------------------------------------------

// -- Cards -----------------------------------------------------
    .card{
        padding: 20px;
        margin: 10px 0 40px 0;
        box-shadow: 0 5px 14px -13px $black;
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        &.search_results{
            display: none;
        }
        &.animalCard{
            .deleteRow{
                text-align: right;
            }
        }
        .diaryCard{
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid $light-border-colour;
            border-radius: $border-radius;
        }
    }
// --------------------------------------------------------------
