
// -- Menus -----------------------------------------------------
    menu,
    rightMenu{
        li{
            float: left;
            margin: 0 10px 0 0;
            position: relative;
            a{
                text-decoration: none;
                border: 1px solid $border-colour;
                border-radius: $border-radius;
                    padding: 8px 10px 11px 10px;
                color: $font-colour;
                &:hover{
                    color: $white;
                    background-color: $border-colour;
                }
            }
            &.dropdown{
                a{
                    padding-right: 30px;
                }
                &::after{
                    content: '>';
                    transform: scaleY(0.7) rotate(90deg);
                    position: absolute;
                    right: 10px;
                    font-size: 1.2em;
                    font-weight: 600;
                    transition: transform 0.5s ease-in-out;
                }
                &:hover::after{
                    transform: scaleY(0.7) rotate(-90deg);
                }
            }
            &:hover ul,
            &:focus-within ul{
                display: block;
            }
            ul{
                display: none;
                position: absolute;
                top: 31px;
                left: 0;
                z-index: 101;
                background-color: $white;
                padding: 10px 10px 0 10px;
                border: 1px solid $border-colour;
                border-radius: $border-radius;
                li{
                    float: none;
                    background-color: $white;
                    margin: 0;
                    a{
                        white-space: nowrap;
                        min-width: 130px;
                        display: block;
                        padding: 10px;
                        margin: 10px 0;
                    }
                }
            }
        }
        @media(max-width:800px){
            display: none;
        }
    }
    menu{
        min-height: 20px;
        margin: 40px 0 0 0;
    }
    rightMenu{
        position: absolute;
        top: 20px;
        right: 10px;
        li{
            ul{
                left: auto;
                right: 0;
            }
        }
    }
    .menuTrigger{
        position: absolute;
        top: 16px;
        right: 0px;
        width: 30px;
        height: 30px;
        @media(min-width:801px){
            display: none;
        }
    }
    .mobileMenu{
        position: fixed;
        z-index: 1001;
        background: $white;
        box-shadow: 0 10px 20px -15px $black;
        border-radius: 0 0 10px 0;
        border-color: $light-border-colour;
        border-style: solid;
        border-width: 0 1px 1px 0;
        top: 0;
        left: -100%;
        width: 80%;
        padding: 20px;
        li{
            a{
                text-decoration: none;
                padding: 5px 10px 5px 20px;
                margin-bottom: 5px;
                display: block;
                font-size: 1.3em;
                border: 1px solid $light-border-colour;
                border-radius: $border-radius;
                &.icon_print,
                &.icon_logOut{
                    padding-left: 50px
                }
            }
            &.title{
                font-size: 1.2em;
                font-weight: 700;
                padding: 10px 10px 5px 0;
            }
            &.topLevel{
                a{
                    padding-left: 10px;
                }
            }
        }
    }
// --------------------------------------------------------------

// -- Buttons ---------------------------------------------------
    .btn_island{
        display: inline-block;
        border: 1px solid $border-colour;
        border-radius: $border-radius;
        padding: 10px;
        margin-left:  0 0 20px 0;
        cursor: pointer;
        &:hover{
            background-color: $border-colour;
            color: $white;
        }
    }
// --------------------------------------------------------------
