
@media print{
    *{
        color: #000000;
    }
    body{
        background-color: #ffffff;
    }
    content{
        max-width: none;
        background-color: #ffffff;
        border: none;
        margin: 0;
        padding: 0;
        .js-top,
        .add_holder,
        .form_container,
        .js-filter,
        .js-quickView,
        .js-finish{
            display: none;
        }
        .card{
            padding: 0;
            border: 0;
            margin: 0;
            box-shadow: none;
            table{
                th,
                td{
                    font-size: 10px;
                    padding: 3px;
                }
                tr:nth-child(2n){
                    background-color: #ffffff;
                }
                .sortThis{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    footer{
        display: none;
    }
    .livestock_table,
    .feed_table{
        tr{
            td, th{
                &:last-child{
                    display: none;
                }
            }
        }
    }
    .page_break{
        page-break-after: always;
    }
    .family_tree{
        li{
            div{
                width: 100px;
                word-wrap: break-word;
                white-space: pre-wrap;
                font-size: 0.6em;
                text-align: left;
                padding: 20px 0 10px 10px;
            }
        }
    }
    header,
    .controls,
    .delete_link,
    .no_print
    {
        display: none;
    }
}
