
table{
    width: 100%;
    border-collapse: collapse;
    th,
    td{
        padding: 10px;
        border: 1px solid $border-colour;
    }
    th{
        font-weight: 700;
        border: 0;
    }
    td{
        text-align: right;
        font-size: 1.1em;
        &.left{
            text-align: left;
        }
    }
    &.sortable{
        th{
            cursor: pointer;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg0IiBoZWlnaHQ9IjM4NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiA8Zz4KICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+CiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjYwMiIgd2lkdGg9IjgwMiIgeT0iLTEiIHg9Ii0xIj48L3JlY3Q+CiA8L2c+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPGcgaWQ9InN2Z18xIj4KICAgPGcgaWQ9InN2Z18yIj4KICAgIDxnIGlkPSJzdmdfMyI+CiAgICAgPGcgaWQ9InN2Z180Ij4KICAgICAgPHBvbHlnb24gaWQ9InN2Z181IiBmaWxsPSIjMEYzNTEwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHBvaW50cz0iMTI4LDAgNDIuNjY3LDg1LjEyIDEwNi42NjcsODUuMTIgMTA2LjY2NywyMzQuNjY3IDE0OS4zMzMsMjM0LjY2NyAxNDkuMzMzLDg1LjEyIDIxMy4zMzMsODUuMTIgICAgIj48L3BvbHlnb24+CiAgICAgIDxwb2x5Z29uIGlkPSJzdmdfNiIgZmlsbD0iIzBGMzUxMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBwb2ludHM9IjI3Ny4zMzMsMjk4Ljg4IDI3Ny4zMzMsMTQ5LjMzMyAyMzQuNjY3LDE0OS4zMzMgMjM0LjY2NywyOTguODggMTcwLjY2NywyOTguODggMjU2LDM4NCAzNDEuMzMzLDI5OC44OCAgICAiPjwvcG9seWdvbj4KICAgICA8L2c+CiAgICA8L2c+CiAgIDwvZz4KICA8L2c+CiA8L2c+Cjwvc3ZnPg==");
                width: 17px;
                height: 17px;
                background-size: 17px;
                background-repeat: no-repeat;
                right: 5px;
            }
        }
    }
}
