
table{
    width: 100%;
    border-collapse: collapse;
    th,
    td{
        padding: 10px;
        border: 1px solid $border-colour;
    }
    th{
        font-weight: 700;
        border: 0;
        &.delete_col{
            width: 100px;
        }
    }
    td{
        text-align: right;
        font-size: 1.1em;
        &.left{
            text-align: left;
        }
        &.cen{
            text-align: center;
        }
    }
    tr{
        transition: background-color 0.5s ease-in-out;
        &:nth-child(even){
            background-color: $table-stripe;
        }
        &.js_edit,
        &.js-view{
            &:hover{
                background-color: darken($table-stripe,5%);
                cursor: pointer;
            }
        }
        &.edited{
            background-color: $page-background-colour;
        }
    }
    &.sortable{
        th.sortThis{
            cursor: pointer;
            position: relative;
            padding-right: 20px;
            &::after{
                @include icon_sortable;
                position: absolute;
                content: '';
                right: 5px;
            }
        }
    }
    @media( max-width: 800px ){
        display: none;
    }
}

.mobile_table{
    display: none;
    tbody{
        display: block;
        border: 1px solid $border-colour;
        margin: 10px 0;
        &:nth-child(even) tr{
            background-color: $table-stripe;
        }
    }
    tr{
        background-color: $white;
        display: block;
        &:nth-child(even){
            background-color: $white;
        }
        td{
            border: none;
            text-align: left;
            display: block;
            span{
                display: inline-block;
                vertical-align: top;
                font-weight: 700;
                width: 120px;
                padding-right: 20px;
                text-align: right;
            }
        }
    }
    @media( max-width: 800px ){
        display: table;
    }
}
