body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #f5fff5;
  color: #0f3510; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

p {
  margin: 0 0 20px 0; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 20px; }

h1 {
  font-size: 2em; }

div.temp {
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 5px 14px -13px #000000;
  border: 1px solid #c5c5c5;
  border-radius: 5px; }

header,
content,
footer {
  display: block;
  position: relative;
  background-color: #ffffff;
  border-color: #c5c5c5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-width: 0 1px;
  border-style: solid; }

header {
  border-width: 0 1px 1px 1px; }

footer {
  border-width: 1px; }

.col_2 {
  display: flex; }
  .col_2 div {
    flex-basis: 50%; }
    .col_2 div:first-child {
      margin-right: 10px; }
    .col_2 div:last-child {
      margin-left: 10px; }

menu li,
rightMenu li {
  float: left;
  margin: 0 10px 0 0;
  position: relative; }
  menu li a,
  rightMenu li a {
    text-decoration: none;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 8px 10px 11px 10px;
    color: #0f3510; }
    menu li a:hover,
    rightMenu li a:hover {
      color: #ffffff;
      background-color: #c5c5c5; }
  menu li.dropdown a,
  rightMenu li.dropdown a {
    padding-right: 30px; }
  menu li.dropdown::after,
  rightMenu li.dropdown::after {
    content: '>';
    transform: scaleY(0.7) rotate(90deg);
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    font-weight: 600;
    transition: transform 0.5s ease-in-out; }
  menu li.dropdown:hover::after,
  rightMenu li.dropdown:hover::after {
    transform: scaleY(0.7) rotate(-90deg); }
  menu li:hover ul,
  menu li:focus-within ul,
  rightMenu li:hover ul,
  rightMenu li:focus-within ul {
    display: block; }
  menu li ul,
  rightMenu li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 101;
    background-color: #ffffff; }
    menu li ul li,
    rightMenu li ul li {
      float: none;
      background-color: #ffffff;
      margin: 0; }
      menu li ul li a,
      rightMenu li ul li a {
        white-space: nowrap;
        min-width: 130px;
        display: block;
        padding: 10px;
        margin: 10px 0; }

menu {
  min-height: 20px;
  margin: 40px 0 0 0; }

rightMenu {
  position: absolute;
  top: 20px;
  right: 10px; }
  rightMenu li ul {
    left: auto;
    right: 0; }
