
// -- Variables -------------------------------------------------
    $page-background-colour: #c4dcc4;
    $content-background-colour: #ffffff;
    $border-colour: #c5c5c5;
    $light-border-colour: #e6e6e6;
    $font-colour: #0f3510;

    $white: #ffffff;
    $black: #000000;
    $red: #ff0000;

    $paleRed: #ff9090;

    $female: #f3d5da;
    $male: #d0eaf3;
    $brightRed: #ff0000;
    $brightGreen: #6cb31d;
    $purple: #a2a2f7;
    $amber: #efcf46;

    $border-radius: 5px;
    $header-font: 'Montserrat', sans-serif;
    $body-font: 'Open Sans', sans-serif;

    $table-stripe: #f7f7f7;

    $form-focus: #f7f7f7;
    $form-disabled: #f9f9f9;

    $site-root: '';
// --------------------------------------------------------------
