
// -- Variables -------------------------------------------------
    $page-background-colour: #c4dcc4;
    $content-background-colour: #ffffff;
    $border-colour: #c5c5c5;
    $font-colour: #0f3510;

    $white: #ffffff;
    $black: #000000;

    $border-radius: 5px;
    $header-font: 'Montserrat', sans-serif;
    $body-font: 'Open Sans', sans-serif;

    $table-stripe: #f5f5f5;

    $form-focus: #f7f7f7;
// --------------------------------------------------------------
